<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fruit Buddy</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
  <!-- Favicons -->
  <link href="{{url_for('static',filename = 'img/favicon.png')}}" rel="icon">
  <link href="{{url_for('static',filename = 'img/apple-touch-icon.png')}}" rel="apple-touch-icon">
  <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static',filename = 'vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static',filename = 'css/style.css')}}" rel="stylesheet">


</head>

<body>
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="">{{pred_output}}<span></span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->


    </div>
  </header><!-- End Header -->

  <section class="d-flex align-items-center justify-content-center">
    
    <div class="container" data-aos="fade-up">
        <br>
        <br>
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{{url_for('static',filename = 'img/Disease/Grape_Black_rot.jpg')}}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Information:</h3>
            <p>
              Grape black rot is a fungal disease that affects grapevines, caused by the fungus Guignardia bidwellii. The disease can infect all parts of the grape plant, including leaves, shoots, tendrils, and fruit. The fungus overwinters in infected plant material and can be spread by rain, wind, and insects.
            </p>
            <h3>Symptoms:</h3>
            <ul>
              <li>Circular, sunken lesions on fruit that eventually turn black and shrivel.</li>
              <li>Small, circular, brown spots on the upper surface of leaves.</li>
              <li>Yellowing of the area around the spots.</li>
              <li>The spots may expand and merge, leading to a "shot hole" appearance.</li>
              <li>The leaves may dry up and fall off prematurely.</li>
              <li>Brown spots on leaves that enlarge and turn yellow. As the disease progresses, the leaves may become dry and brittle and may drop prematurely from the vine.</li>
              <li>Black spots on shoots and tendrils. These spots can enlarge and become sunken, causing the affected tissue to die.</li>
              <li>Infected fruit may become mummified and remain on the vine, providing a source of infection for future seasons.</li>
            </ul>
            <h3>Treatment:</h3>
            <ul>
                <li>Cultural practices: Good sanitation practices such as removing and destroying infected plant material and pruning to promote good air circulation and sunlight penetration can help reduce the spread of the disease.</li>
                <li>Fungicides: Fungicides can be applied to control grape black rot, but they should be used as part of an integrated pest management program and applied at the recommended time and rate.</li>
                <li>Plant resistant grape varieties: Planting grape varieties that are resistant to black rot can reduce the likelihood of infection.</li>
                <li>Monitoring: Regular monitoring of grapevines for symptoms of black rot is important for early detection and prompt action. Promptly remove and destroy any infected plant material.</li>
              </ul>
            <h3>Fertilizer recommend:</h3>
            <ul>
              <li>Soil testing: A soil test can help determine the nutrient levels in the soil and provide recommendations for fertilizer application.</li>
              <li>Apply fertilizers at the appropriate time to avoid promoting new growth during periods of high disease pressure.</li>
              <li>Fertilizers do not have a direct effect on managing grape black rot on leaves. However, maintaining proper soil fertility levels through fertilization can promote healthy plant growth and reduce plant stress, making the plants more resistant to diseases like grape black rot.</li>
              <li>Organic fertilizers, such as compost and well-rotted manure, can improve soil health and fertility and reduce the incidence of soil-borne diseases. Additionally, using cover crops or green manures can help build soil organic matter and provide nutrients for grape plants.</li>
              <li>Grapevines generally require balanced fertilization of nitrogen, phosphorus, and potassium. The type and amount of fertilizer needed can vary depending on soil conditions and grapevine growth stage.</li>
            </ul>
          </div>
        </div>

      </div>
        
  </section><!-- End Hero -->

  <main id="main">

    

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Back To Home</h3>
          <p> We are friend of your fruit we make your fruits healthy and you make people healthy.</p>
          <a class="cta-btn" href="{{ url_for('back')}}">Back</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Fruit Buddy<span>.</span></h3>
              <p>
                ACET Nagpur <br>
                440001, India<br><br>

                <strong>Email:</strong> fruitbuddy12@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Fruit Buddy</span></strong>. All Rights Reserved
      </div>

    </div>
  </footer><!-- End Footer -->



  <!-- Vendor JS Files -->
  <script src="{{url_for('static',filename = 'vendor/purecounter/purecounter_vanilla.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/aos/aos.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static',filename = 'js/main.js')}}"></script>


</body>

</html>