<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fruit Buddy</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
  <!-- Favicons -->
  <link href="{{url_for('static',filename = 'img/favicon.png')}}" rel="icon">
  <link href="{{url_for('static',filename = 'img/apple-touch-icon.png')}}" rel="apple-touch-icon">
  <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static',filename = 'vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static',filename = 'css/style.css')}}" rel="stylesheet">


</head>

<body>
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="">{{pred_output}}<span></span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->


    </div>
  </header><!-- End Header -->

  <section class="d-flex align-items-center justify-content-center">
    
    <div class="container" data-aos="fade-up">
        <br>
        <br>
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{{url_for('static',filename = 'img/Disease/Grape_Esca.png')}}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Information:</h3>
            <p>
              Grape esca, also known as "black measles", is a fungal disease that affects grapevines. It is caused by a complex of fungi, including Phaeomoniella chlamydospora, Phaeoacremonium spp., and others.The disease is characterized by the development of leaf chlorosis, necrosis, and wilting, as well as the formation of black streaks or "measles" in the woody tissues of the vine.
            </p>
            <h3>Symptoms:</h3>
            <ul>
              <li>Leaf symptoms: Grape esca can cause chlorosis (yellowing) and necrosis (death) of leaves. The leaves may also show red or purple discoloration, and veins may turn yellow or red.</li>
              <li>Wood symptoms: The fungus that causes grape esca can infect the woody tissues of the vine, resulting in the development of black or brown streaks, also known as "measles". These streaks may be visible on the trunk, cordons, arms, or spurs.</li>
              <li>Shoot symptoms: Infected shoots may show dieback, withering, or shriveling. Young shoots may turn black or brown and become distorted or curled.</li>
              <li>Grape symptoms: Infected grapes may shrivel, turn brown or black, or develop white powdery spores. Grapes may also become mummified or "raisined" on the vine.</li>
              <li>Overall decline: As the disease progresses, infected vines may show general decline in growth and vigor, with reduced yields and eventual death.</li>
            </ul>
            <h3>Treatment:</h3>
            <ul>
              <b>There is no known cure for grape esca, so treatment options focus on managing the disease and preventing its spread. Here are some management strategies for grape esca:</b>
                <li>Remove and destroy infected wood: Infected wood can be a major source of inoculum for grape esca, so it is important to remove and destroy infected wood promptly. This can help slow the spread of the disease.</li>
                <li>Use preventive fungicides: Fungicides can be used preventively to protect healthy vines from infection. However, they are typically not effective once symptoms have developed. It is important to consult with a professional to develop a fungicide program that is appropriate for your vineyard.</li>
                <li>Promote vine health: Healthy vines are better able to resist diseases like grape esca. Practices that promote vine health, such as balanced fertilization, proper irrigation, and pruning practices that reduce wounds and stress, can help reduce the incidence of grape esca.</li>
                <li>Plant resistant cultivars: Currently, there are no commercially available grape cultivars that are completely resistant to grape esca, but research is ongoing to develop resistant varieties.</li>
                <li>Avoid over-pruning: Over-pruning can create wounds that provide entry points for the fungi that cause grape esca. Pruning should be done carefully, and only when necessary.</li>
                <li>Use low-vigor rootstocks: High-vigor rootstocks can create conditions that favor the development of grape esca. Using low-vigor rootstocks can help reduce the incidence of the disease.</li>
            </ul>
            <h3>Fertilizer recommend:</h3>
            <ul>
              <li>Soil analysis: Before applying any fertilizer, it is important to have a soil analysis to determine the nutrient status of your vineyard soil. This will help you determine what nutrients your vines need and in what amounts.</li>
              <li>Nitrogen: Nitrogen is an important nutrient for grapevines, as it is necessary for vegetative growth and fruit development. However, excessive nitrogen can lead to excessive vegetative growth and reduce fruit quality. Nitrogen should be applied in accordance with soil analysis results and the specific needs of your grapevines.</li>
              <li>Phosphorus and potassium: Phosphorus and potassium are also important nutrients for grapevines, as they are necessary for root development, fruit quality, and disease resistance. These nutrients should be applied in accordance with soil analysis results and the specific needs of your grapevines.</li>
              <li>Micronutrients: Grapevines also require micronutrients, such as iron, manganese, and zinc, in small amounts. These nutrients are usually included in balanced fertilizers, but may need to be supplemented in deficient soils.</li>
              <li>Organic fertilizers: Compost and well-rotted manure can be used to supplement soil nutrients and improve soil health. These organic fertilizers provide slow-release nutrients and improve soil structure and water-holding capacity. However, excessive use of organic fertilizers can lead to excessive vegetative growth and reduced fruit quality.</li>
            </ul>
          </div>
        </div>

      </div>
        
  </section><!-- End Hero -->

  <main id="main">

    

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Back To Home</h3>
          <p> We are friend of your fruit we make your fruits healthy and you make people healthy.</p>
          <a class="cta-btn" href="{{ url_for('back')}}">Back</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Fruit Buddy<span>.</span></h3>
              <p>
                ACET Nagpur <br>
                440001, India<br><br>

                <strong>Email:</strong> fruitbuddy12@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Fruit Buddy</span></strong>. All Rights Reserved
      </div>

    </div>
  </footer><!-- End Footer -->



  <!-- Vendor JS Files -->
  <script src="{{url_for('static',filename = 'vendor/purecounter/purecounter_vanilla.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/aos/aos.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static',filename = 'js/main.js')}}"></script>


</body>

</html>