<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fruit Buddy</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
  <!-- Favicons -->
  <link href="{{url_for('static',filename = 'img/favicon.png')}}" rel="icon">
  <link href="{{url_for('static',filename = 'img/apple-touch-icon.png')}}" rel="apple-touch-icon">
  <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static',filename = 'vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static',filename = 'css/style.css')}}" rel="stylesheet">


</head>

<body>
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="">{{pred_output}}<span></span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->


    </div>
  </header><!-- End Header -->

  <section class="d-flex align-items-center justify-content-center">
    
    <div class="container" data-aos="fade-up">
        <br>
        <br>
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{{url_for('static',filename = 'img/Disease/Apple_Cedar.jpg')}}" class="img-fluid" alt="">
            <br>
            <br>
            <img src="{{url_for('static',filename = 'img/Disease/Apple_Cedar_2.jpg')}}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Information:</h3>
            <p>
                Apple Cedar rust, plant disease that primarily affects eastern red cedar (Juniperus virginiana) and various apple and crabapple species (genus Malus) in North America and that is caused by the fungus Gymnosporangium juniperi-virginianae. Both hosts, the junipers and the apples, are required for completion of the rust fungus’s two-year life cycle. The disease can be controlled by eradicating either host in a given area or by timely application of a fungicide, in spring for junipers and in summer for apples.
            </p>
            <h3>Symptoms:</h3>
            <ul>
              <li> On apple and crab-apple trees, look for pale yellow pinhead sized spots on the upper surface of the leaves shortly after bloom. </li>
              <li>These gradually enlarge to bright orange-yellow spots which make the disease easy to identify. </li>
              <li>Sooty blotch appears as sooty or cloudy blotches on the surface of the fruit.</li>
              <li>Orange spots may develop on the fruit as well. Heavily infected leaves may drop prematurely.</li>
            </ul>
            <h3>Treatment:</h3>
            <ul>
                <li>Choose resistant cultivars when available.</li>
                <li>Rake up and dispose of fallen leaves and other debris from under trees.</li>
                <li>Remove galls from infected junipers. In some cases, juniper plants should be removed entirely.</li>
                <li>Contact your local Agricultural Extension office for other possible solutions in your area.</li>
              </ul>
            <h3>Fertilizer Recommend:</h3>
            <ul>
              <li>Apply preventative, disease-fighting fungicides labeled for use on apples weekly, starting with bud break, to protect trees from spores being released by the juniper host. This occurs only once per year, so additional applications after this springtime spread are not necessary. </li>
              <li>On juniper, rust can be controlled by spraying plants with a copper solution (0.5 to 2.0 oz/ gallon of water) at least four times between late August and late October. </li>
              <li>Safely treat most fungal and bacterial diseases with SERENADE Garden. This broad spectrum bio-fungicide uses a patented strain of Bacillus subtilis that is registered for organic use. Best of all, SERENADE is completely non-toxic to honey bees and beneficial insects.</li>
              <li>Containing sulfur and pyrethrins, Bonide® Orchard Spray is a safe, one-hit concentrate for insect attacks and fungal problems. For best results, apply as a protective spray (2.5 oz/ gallon) early in the season. If disease, insects or wet weather are present, mix 5 oz in one gallon of water. Thoroughly spray all parts of the plant, especially new shoots.</li>
            </ul>
          </div>
        </div>

      </div>
        
  </section><!-- End Hero -->

  <main id="main">

    

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Back To Home</h3>
          <p> We are friend of your fruit we make your fruits healthy and you make people healthy.</p>
          <a class="cta-btn" href="{{ url_for('back')}}">Back</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Fruit Buddy<span>.</span></h3>
              <p>
                ACET Nagpur <br>
                440001, India<br><br>

                <strong>Email:</strong> fruitbuddy12@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Fruit Buddy</span></strong>. All Rights Reserved
      </div>

    </div>
  </footer><!-- End Footer -->



  <!-- Vendor JS Files -->
  <script src="{{url_for('static',filename = 'vendor/purecounter/purecounter_vanilla.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/aos/aos.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static',filename = 'js/main.js')}}"></script>


</body>

</html>