<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fruit Buddy</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
  <!-- Favicons -->
  <link href="{{url_for('static',filename = 'img/favicon.png')}}" rel="icon">
  <link href="{{url_for('static',filename = 'img/apple-touch-icon.png')}}" rel="apple-touch-icon">
  <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static',filename = 'vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static',filename = 'css/style.css')}}" rel="stylesheet">


</head>

<body>
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="">{{pred_output}}<span></span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->


    </div>
  </header><!-- End Header -->

  <section class="d-flex align-items-center justify-content-center">
    
    <div class="container" data-aos="fade-up">
        <br>
        <br>
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{{url_for('static',filename = 'img/Disease/Guava_Phytopthora.jpg')}}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Information:</h3>
            <p>
                Guava Phytophthora is a fungal disease that affects guava plants and is caused by the pathogen Phytophthora nicotianae. It causes a range of symptoms, including root rot, stem cankers, leaf blight, and fruit rot. The disease is commonly spread by water, and high humidity and wet soil conditions favor its development. Infected plants may show signs of wilting, yellowing, or browning of leaves, and may eventually die. Fruit may also show signs of rot, such as brown lesions or sunken spots.    </p>
            <h3>Symptoms:</h3>
            <ul>
              <li>The symptoms of guava Phytophthora on the leaves typically start as small, water-soaked spots that are yellow to brown in color. </li>
              <li>As the disease progresses, the spots may enlarge and coalesce, forming larger lesions on the leaves.</li>
              <li> These lesions may have a dark border and a yellow halo around them. In severe cases, the leaves may become necrotic, wilted, and defoliate. The disease can also cause dieback of branches and cankers on the stem.</li>
              <li> On the fruit, the disease causes brown to black circular spots or lesions that eventually develop into rot. Infected fruit may also fall prematurely. </li>
              <li>The symptoms of guava Phytophthora can be easily confused with other diseases, so it is important to have the disease diagnosed by a plant pathologist to confirm its identity.</li>
            </ul>
            <h3>Treatment:</h3>
            <ul>
                <li>Improve soil drainage: Guava Phytophthora thrives in waterlogged soil, so improving soil drainage can help reduce the disease's impact. This can be achieved by ensuring that the soil is well-drained and avoiding over-irrigation.</li>
                <li>Prune and destroy infected plant material: Infected leaves, fruit, and branches should be pruned and destroyed to prevent the disease from spreading.</li>
                <li>Use resistant varieties: Planting resistant guava varieties can reduce the risk of infection.</li>
                <li>Chemical control: Fungicides can be used to control guava Phytophthora in severe cases. The choice of fungicide will depend on the severity of the disease, and the stage of plant growth. It is important to follow the manufacturer's instructions when applying fungicides, and to rotate the fungicides to prevent the development of resistance in the pathogen.</li>
                <li>Integrated Pest Management (IPM): IPM involves a holistic approach to disease control that emphasizes prevention, monitoring, and the use of multiple control methods. This can include the use of cultural practices, such as pruning and canopy management, to reduce the disease's impact, as well as the use of fungicides and resistant varieties.</li>
              </ul>
            <h3>Fertilizer recommend:</h3>
            <ul>
              <li>Fertilizers are used to provide essential nutrients to guava plants and promote healthy growth and development. Common fertilizer nutrients include nitrogen, phosphorus, and potassium, as well as micronutrients such as zinc, iron, and manganese. Fertilizers can be applied to the soil or directly to the foliage of the plant.</li>
              <li>Pesticides are chemicals used to control pests and diseases that can damage guava plants and reduce yields. There are many different types of pesticides available for guava production, including insecticides, fungicides, and herbicides. Insecticides are used to control insect pests such as fruit flies and mealybugs, while fungicides are used to control fungal diseases such as guava anthracnose and guava wilt. Herbicides are used to control weeds that compete with the guava plants for nutrients and water.</li>
            </ul>
          </div>
        </div>

      </div>
        
  </section><!-- End Hero -->

  <main id="main">

    

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Back To Home</h3>
          <p> We are friend of your fruit we make your fruits healthy and you make people healthy.</p>
          <a class="cta-btn" href="{{ url_for('back')}}">Back</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Fruit Buddy<span>.</span></h3>
              <p>
                ACET Nagpur <br>
                440001, India<br><br>

                <strong>Email:</strong> fruitbuddy12@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Fruit Buddy</span></strong>. All Rights Reserved
      </div>

    </div>
  </footer><!-- End Footer -->



  <!-- Vendor JS Files -->
  <script src="{{url_for('static',filename = 'vendor/purecounter/purecounter_vanilla.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/aos/aos.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static',filename = 'js/main.js')}}"></script>


</body>

</html>