<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fruit Buddy</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
  <!-- Favicons -->
  <link href="{{url_for('static',filename = 'img/favicon.png')}}" rel="icon">
  <link href="{{url_for('static',filename = 'img/apple-touch-icon.png')}}" rel="apple-touch-icon">
  <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static',filename = 'vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename = 'vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static',filename = 'css/style.css')}}" rel="stylesheet">


</head>

<body>
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="">{{pred_output}}<span></span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->


    </div>
  </header><!-- End Header -->

  <section class="d-flex align-items-center justify-content-center">
    
    <div class="container" data-aos="fade-up">
        <br>
        <br>
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{{url_for('static',filename = 'img/Disease/Strawberry_Blossom_Blight.jpg')}}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Information:</h3>
            <p>The most serious fruit rot and blossom blight found in Colorado is botrytis (gray mold), caused by the fungus Botrytis cinerea. Infection usually begins on berries touching the soil. However, infection may start in that part of a berry that touches another decayed berry or dead leaf. Gray mold often starts on blossoms and green fruit injured by frost. Sometimes the disease affects flower stalks enough to prevent the development of fruit.</p>
            <h3>Symptoms:</h3>
            <ul>
              
                  <li>On the lower surface of the calyx, watersoaked lesions that appeared dark green under reflected light and translucent under transmitted light; necrotic calyces of seemingly healthy green and ripe fruits; watersoaking of the base of the calyx ...</li>
                  <li>Some growers are noticing that the later blossoms on their strawberries are failing to set fruit, and instead, are just turning brown and drying up.</li>
                  <li>Two things could be happening – one is that the flower itself was infected and colonized by a disease—often botrytis, which is usually fairly obvious once the gray fuzziness becomes apparent. </li>
                  <li>A cause is often that the pedicle (the little stem connected directly to the berry) or the tissue that connects the pedicle to the berry may have been damaged. </li>

            </ul>
            <h3>Treatment:</h3>
            <ul>
                <li>Decaying material also includes organic matter in the soil. Spread a straw mulch underneath the plants if contact with the soil cannot be prevented.</li>
                <li> Keep plants watered and fertilized in accordance to the variety’s directions in order to produce higher-growing fruit.</li>
                <li> The best way to treat this disease is to alter watering practices and allow for dryer conditions. </li>
                <li> treat strawberries with organic fungicides like Captan 50 WP and Copper compounds</li>

              </ul>
            <h3>Fertilizer recommend:</h3>
            <ul>
                  <li>The insecticides in strawberries include organophosphates, malathion, naled, and carbamate methomyl</li>
                  <li>Specifically, strawberry plants rely heavily on nitrogen. You can use a fertilizer containing only nitrogen such as urea (46-0-0) or ammonium nitrate (33-0-0). Another option is to use a balanced fertilizer such as a 12-12-12.</li>
                  <li>To maintain productivity and nitrogen levels, you'll need to use organic fertilizers. Blood meal is a good option as it has 13% nitrogen.</li>
                  <li>Use copper-containing fungicide such as Bordeaux mix, a mixture of copper sulfate and lime, but use a more diluted application to avoid plant injury. When strawberry plants are in pre-bloom state and flower buds show white color, spray the plants again with liquid copper or Bordeaux mix.</li>
          
            </ul>
          </div>
        </div>

      </div>
        
  </section><!-- End Hero -->

  <main id="main">

    

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Back To Home</h3>
          <p> We are friend of your fruit we make your fruits healthy and you make people healthy.</p>
          <a class="cta-btn" href="{{ url_for('back')}}">Back</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Fruit Buddy<span>.</span></h3>
              <p>
                ACET Nagpur <br>
                440001, India<br><br>

                <strong>Email:</strong> fruitbuddy12@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Fruit Buddy</span></strong>. All Rights Reserved
      </div>

    </div>
  </footer><!-- End Footer -->



  <!-- Vendor JS Files -->
  <script src="{{url_for('static',filename = 'vendor/purecounter/purecounter_vanilla.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/aos/aos.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static',filename = 'js/main.js')}}"></script>


</body>

</html>